/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans" sans-serif;
}

nav {
    /*shorthand property*/
    /*Applied padding to all sides*/
    /*Creates a space between the ultag and the nav element*/
    padding: 0.8rem;
    /*properties that make up the padding property*/
    /*padding-top:0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.8rem;*/
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
    list-style-type: none;
}

/*margin vs padding*/
/*margin is the used when creating space between elements*/
/*padding is best used when creating space bet. and element's borderr and it's content.*/

nav .nav,
nav .nav-logo {
    margin: 0.5rem;
    display: inline;
}

#intro {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;

    text-align: center;
}
.header {
    text-align: center;
}

#intro h2,
#intro p {
    margin-bottom: 1rem;
}

#intro button {
    color: white;
    /*changes the thickness of text*/
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 25px;
    font-size: 1rem;
    padding: 1rem;
}

#succeed-info {
    padding: 2rem 10% 3rem;
}

#succeed-info h2 {
    margin-bottom: 1rem;
}

#succeed-info h3 {
    text-align: center;
    margin-bottom: 1rem;
}

#succeed-info .card {
    display: inline-block;
    vertical-align: top;
    min-height: 175px;
    width: 30%;
    margin: 0 0.5rem;
}
